* {
    font-family: espiritu, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  html {
    background-image: url("assets/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    cursor: none;
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  body {
    margin: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tip {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    font-size: 14px;
    animation: tip 2s infinite;
    --position: -140px;
  }

  @keyframes tip {
    0%, 100% { 
      transform: 
        translateY(var(--position)) 
        scale(1); 
      opacity: 1; 
    }
    50% { 
      transform: 
        translateY(var(--position)) 
        scale(1.3); 
      opacity: 0.5; 
    }
  }
  
  h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    margin: 0;
    width: 325px;
    text-shadow: 5px 5px black;
    border: 2px solid white;
    border-image: 
      linear-gradient(
        to bottom left,
        cyan, 
        rgba(0, 0, 0, 0), 
        purple) 1;
      background: 
        linear-gradient(
          to bottom left, 
          rgba(0,255,255, 0.2), 
          rgba(0, 0, 0, 0), 
          rgba(138,43,226, 0.2));
    
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 0 200px rgba(255 255 255 / 0.08);
    padding: 24px;
    padding-top: 32px;
  }

  button {
    position: absolute;
    box-shadow: 5px 5px 0 0 black;
    background-color: #FFBF34;
    border-radius: 12px;
    border: none;
    font-size: 24px;
    padding: 12px 32px;
    padding-top: 19px;
    z-index: 100;
    cursor: none;
  }

  #img {
    width: 100px; 
    height: 100px;
    position: absolute; 
    transform: translateY(110px);
  }

  button:hover {
    opacity: 0.9;
  }
  
  button:active {
    box-shadow: 0px 0px 0 0 black;
    transform: translate(5px, 115px);
  }

.links {
  display: flex;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  color: #ccc;
}

.links a {
  color: #ccc;
}

.links span {
  transform: translateY(88%);
}
